.main--element {
  max-width: 317px;
  background-color: #1A1B21;
  margin: 2em auto;
  border-radius: 10px;
}

/*  INFO SECTION  */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info--name {
  color: #FFF;
  margin: 1em 0 0;
  font-size: 1.6rem;
}

.info--function {
  color: #F3BF99;
  margin: .3em 0 .8em;
  font-size: .8rem;
}

.info--website {
  color: #F5F5F5;
  font-size: .625rem;
  text-decoration: none;
}

.info--email {
  background-color: #fff;
  color: #374151;
  text-decoration: none;
  text-align: center;
  font-size: .875rem;
  border-radius: 6px;
  padding: .5em 0 .7em;
  margin-top: 1.2em;
  width: 80%;
}

.info--website:hover,
.info--website:focus {
  text-shadow: 0 0 5px #DCDCDC;
}
.info--email:hover,
.info--email:focus {
  box-shadow: 0 0 5px #DCDCDC;
}

.info--email-img {
  margin-right: .5em;
}


/*  ABOUT SECTION  */

.about {
  padding: 1em 1.5em 0;
}

.about--title {
  font-size: 1rem;
  margin: 1em 0 .4em;
}

.about--body {
  color: #DCDCDC;
  font-size: 0.625rem;
  line-height: 1.7;
  letter-spacing: .02em;
  margin: 0;
}



/*  INTERESTS SECTION */

.interests {
  padding: 0 1.5rem;
}

.interests--title {
  font-size: 1rem;
  margin: 1.5em 0 .4em;
}

.interests--body {
  color: #DCDCDC;
  font-size: 0.625rem;
  line-height: 1.7;
  letter-spacing: .02em;
  margin: 0 0 5em;
}




/*  FOOTER SECTION  */

.footer {
  background-color: #161619;
  display: flex;
  justify-content: space-around;
  padding: 1.5em 2em;
  border-radius: 10px;
}

.footer > a > img:hover,
.footer > a > img:focus {
  box-shadow: 0 0 5px #DCDCDC;
}